In [1]:
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.combine import SMOTEENN
from imblearn.combine import SMOTETomek

X, y = make_classification(n_samples=5000, n_features=2, n_informative=2,
                           n_redundant=0, n_repeated=0, n_classes=3,
                           n_clusters_per_class=1,
                           weights=[0.01, 0.05, 0.94],
                           class_sep=0.8, random_state=0)
print(sorted(Counter(y).items()))

smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)
print(sorted(Counter(y_resampled).items()))

smote_tomek = SMOTETomek(random_state=0)
X_resampled, y_resampled = smote_tomek.fit_resample(X, y)
print(sorted(Counter(y_resampled).items()))

[(0, 64), (1, 262), (2, 4674)]
[(0, 4060), (1, 4381), (2, 3502)]
[(0, 4499), (1, 4566), (2, 4413)]

In [4]:
import pandas as pd

pd.DataFrame(X)

             0         1
0     0.662420 -0.763477
1    -0.201381 -2.469794
2     1.208045 -0.332895
3     1.375456  0.974206
4     0.215885 -1.556261
...        ...       ...
4995  1.215805 -0.356784
4996  0.384902 -1.466087
4997  0.894471 -0.499570
4998  1.403129 -0.626180
4999  1.795896  0.742837

[5000 rows x 2 columns]

In [6]:
pd.DataFrame(X_resampled)

              0         1
0      0.662420 -0.763477
1     -0.201381 -2.469794
2      1.208045 -0.332895
3      1.375456  0.974206
4      0.215885 -1.556261
...         ...       ...
13473  1.878400  3.148049
13474  0.855648  0.795368
13475  0.245443 -0.145451
13476  1.041823  1.654419
13477  0.649926  0.758374

[13478 rows x 2 columns]

In [8]:
pd.DataFrame(y).value_counts()

2    4674
1     262
0      64
dtype: int64

In [9]:
pd.DataFrame(y_resampled).value_counts()

1    4566
0    4499
2    4413
dtype: int64