In [2]:
%load_ext autoreload
%autoreload 2
from src.pipeline_real import Pipes
from pathlib import Path

In [11]:
pipes = Pipes(
    train_data=Path("data/train.csv"),
    test_data=Path("data/test.csv"),
    params=Path("params.yaml"),
)
pipes.adjust_OBES_IMC()
# pipes.adjust_idade()
# pipes.adjust_tomo_res()
# pipes.adjust_antiviral()
# pipes.create_risck_variable()
# pipes.create_sintomas_factors()
pipes.create_lat_long_others()
# pipes.oversampling_data()
pipe = pipes.create_pipeline()
pipes.fit(pipe)

(1300980, 76)
(1300980, 89)
(867321, 75)
(867321, 88)
(1170882, 65)
(130098, 65)

In [5]:
pipes.create_submission_file(pipe, "data/submission_v18.csv")

(867321, 65)
Done!
Done!

In [5]:
import pandas as pd
df = pd.read_csv("data/submission_v16.csv")
df

                                          ID  CLASSI_FIN
0       c42342a4-cfca-497f-8ee6-a6c76ed4bc67           4
1       6c86b555-8bf2-4306-8f2e-db809a98e3c3           4
2       0ac9582e-2683-474b-8316-5e9c0ea6edd5           5
3       7bc6de6f-041c-4866-8778-7542c230a498           4
4       8eefb2e4-626e-4f40-9b93-5146906fe07b           5
...                                      ...         ...
932932  edcdd9a6-10a4-4681-8c2c-b2a8fb73be05           3
932933  edcdd9a6-10a4-4681-8c2c-b2a8fb73be05           3
932934  edcdd9a6-10a4-4681-8c2c-b2a8fb73be05           3
932935  edcdd9a6-10a4-4681-8c2c-b2a8fb73be05           3
932936  ef5cb486-b8fc-426d-9460-52950f06af38           4

[932937 rows x 2 columns]

In [6]:
df.drop_duplicates()

                                          ID  CLASSI_FIN
0       c42342a4-cfca-497f-8ee6-a6c76ed4bc67           4
1       6c86b555-8bf2-4306-8f2e-db809a98e3c3           4
2       0ac9582e-2683-474b-8316-5e9c0ea6edd5           5
3       7bc6de6f-041c-4866-8778-7542c230a498           4
4       8eefb2e4-626e-4f40-9b93-5146906fe07b           5
...                                      ...         ...
932926  981cdc34-b821-4695-aa7d-b60a3d8788e4           3
932927  d48cb14d-d10c-4e98-9075-5ab77b06e76a           3
932931  f038c8c5-1f86-4b04-98d2-9cd72e12eac5           5
932932  edcdd9a6-10a4-4681-8c2c-b2a8fb73be05           3
932936  ef5cb486-b8fc-426d-9460-52950f06af38           4

[870131 rows x 2 columns]

In [7]:
df_15 = pd.read_csv("data/submission_v15.csv")
df_15

                                          ID  CLASSI_FIN
0       c42342a4-cfca-497f-8ee6-a6c76ed4bc67           4
1       6c86b555-8bf2-4306-8f2e-db809a98e3c3           4
2       0ac9582e-2683-474b-8316-5e9c0ea6edd5           5
3       7bc6de6f-041c-4866-8778-7542c230a498           4
4       8eefb2e4-626e-4f40-9b93-5146906fe07b           5
...                                      ...         ...
867316  981cdc34-b821-4695-aa7d-b60a3d8788e4           3
867317  d48cb14d-d10c-4e98-9075-5ab77b06e76a           3
867318  f038c8c5-1f86-4b04-98d2-9cd72e12eac5           5
867319  edcdd9a6-10a4-4681-8c2c-b2a8fb73be05           5
867320  ef5cb486-b8fc-426d-9460-52950f06af38           4

[867321 rows x 2 columns]

In [9]:
df_14 = pd.read_csv("data/submission_v14.csv")
df_14

                                          ID  CLASSI_FIN
0       c42342a4-cfca-497f-8ee6-a6c76ed4bc67           4
1       6c86b555-8bf2-4306-8f2e-db809a98e3c3           4
2       0ac9582e-2683-474b-8316-5e9c0ea6edd5           5
3       7bc6de6f-041c-4866-8778-7542c230a498           4
4       8eefb2e4-626e-4f40-9b93-5146906fe07b           5
...                                      ...         ...
867316  981cdc34-b821-4695-aa7d-b60a3d8788e4           3
867317  d48cb14d-d10c-4e98-9075-5ab77b06e76a           3
867318  f038c8c5-1f86-4b04-98d2-9cd72e12eac5           5
867319  edcdd9a6-10a4-4681-8c2c-b2a8fb73be05           3
867320  ef5cb486-b8fc-426d-9460-52950f06af38           4

[867321 rows x 2 columns]

In [10]:
ids = df_14.ID
df[df["ID"].isin(ids)]

                                          ID  CLASSI_FIN
0       c42342a4-cfca-497f-8ee6-a6c76ed4bc67           4
1       6c86b555-8bf2-4306-8f2e-db809a98e3c3           4
2       0ac9582e-2683-474b-8316-5e9c0ea6edd5           5
3       7bc6de6f-041c-4866-8778-7542c230a498           4
4       8eefb2e4-626e-4f40-9b93-5146906fe07b           5
...                                      ...         ...
932932  edcdd9a6-10a4-4681-8c2c-b2a8fb73be05           3
932933  edcdd9a6-10a4-4681-8c2c-b2a8fb73be05           3
932934  edcdd9a6-10a4-4681-8c2c-b2a8fb73be05           3
932935  edcdd9a6-10a4-4681-8c2c-b2a8fb73be05           3
932936  ef5cb486-b8fc-426d-9460-52950f06af38           4

[932937 rows x 2 columns]

In [11]:
df_sem_dup = df.drop_duplicates()
df_sem_dup[df_sem_dup["ID"].isin(ids)]

                                          ID  CLASSI_FIN
0       c42342a4-cfca-497f-8ee6-a6c76ed4bc67           4
1       6c86b555-8bf2-4306-8f2e-db809a98e3c3           4
2       0ac9582e-2683-474b-8316-5e9c0ea6edd5           5
3       7bc6de6f-041c-4866-8778-7542c230a498           4
4       8eefb2e4-626e-4f40-9b93-5146906fe07b           5
...                                      ...         ...
932926  981cdc34-b821-4695-aa7d-b60a3d8788e4           3
932927  d48cb14d-d10c-4e98-9075-5ab77b06e76a           3
932931  f038c8c5-1f86-4b04-98d2-9cd72e12eac5           5
932932  edcdd9a6-10a4-4681-8c2c-b2a8fb73be05           3
932936  ef5cb486-b8fc-426d-9460-52950f06af38           4

[870131 rows x 2 columns]